@typeparam TItem

<div>
    <div class="mb-3 text-right">
        <div class="btn-group">
            <button @onclick="@(() => _mode = "Grid")" title="Grid View" type="button" class="btn @(_mode == "Grid" ? "btn-secondary" : "btn-outline-secondary")">
                <i class="bi bi-grid-fill"></i>
            </button>
            <button @onclick="@(() => _mode = "Table")" title="Table View" type="button" class="btn @(_mode == "Table" ? "btn-secondary" : "btn-outline-secondary")">
                <i class="bi bi-table"></i>
            </button>
        </div>
    </div>

    @if (_mode == "Grid")
    {
        <div class="grid">
            @foreach (var item in Items)
            {
                @GridTemplate(item)
            }
        </div>
    }
    else if (_mode == "Table")
    {
        <table>
            <thead>
                <tr>
                    @HeaderTemplate
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Items)
                {
                    <tr>
                        @RowTemplate(item)
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    private string _mode = "Grid";

    [Parameter] public IEnumerable<TItem> Items { get; set; }
    [Parameter] public RenderFragment<TItem> GridTemplate { get; set; }
    [Parameter] public RenderFragment HeaderTemplate { get; set; }
    [Parameter] public RenderFragment<TItem> RowTemplate { get; set; }
}
